- provide(:title, 'Help')
%h1 Help
%p
	Get help on the RoR Tutorial at thise
	%a{:href => "http://railstutorial.org/"} Rails Tutorail help page
	To get help on this sample app, see the
	%a{:href => "http://rubyonrails.jp/book"} Rails Tutorial book
